<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>trang chủ</title>
    <!--    <link rel="stylesheet" href="../css/slick.css">-->
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../slick/slick.css" />

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="for_slick_slider multiple-items">
        <div class="items">
            <img src="../images/logo1.png" alt="">
        </div>


        <div class="items">
            <img src="../images/logo2.png" alt="">
        </div>


        <div class="items">
            <img src="../images/logo3.png" alt="">
        </div>

        <div class="items">
            <img src="../images/logo4.png" alt="">
        </div>

        <div class="items">
            <img src="../images/logo5.png" alt="">
        </div>

    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../slick/slick.min.js"></script>
    <!--    <script src="../js/jquery-3.5.1.min.js"></script>-->
    <script src="../js/slick.min.js"></script>
    <script type="text/javascript">
        $(function)() {
            $('.multiple-items').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1
            });
        }
    </script>

</body></html>